<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}RDM-Editions{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{{ asset('css/master.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('book_index') }}">
                    <img src="{{ asset("img/logo.jpg") }}" class="img-responsive">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="main-navbar">
                <div>
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'book_index' %}active{% endif %}">
                            <a href="{{ path('book_index') }}">Accueil<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'book_ourBooks' %}active{% endif %}">
                            <a href="{{ path('book_ourBooks') }}">Nos livres</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'book_aboutUs' %}active{% endif %}">
                            <a href="{{ path('book_aboutUs') }}">Être édité</a>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</header>
<div class="hidden-xs" id="social_btn">
    <a href="https://www.facebook.com/RDM.EDITIONS" target="_blank"><img src="{{ asset('img/social/1.png') }}"></a>
    <a href="https://twitter.com/RhneAlpesPassio" target="_blank"><img src="{{ asset('img/social/2.png') }}"></a>
    <a href="https://www.linkedin.com/company/rdm-editions-rhone-alpes-passions-medias" target="_blank"><img
                src="{{ asset('img/social/3.png') }}"></a>
    <a href="https://plus.google.com/+Rh%C3%B4neAlpesPassionsM%C3%A9dias" target="_blank"><img
                src="{{ asset('img/social/4.png') }}"></a>
    <a href="http://www.viadeo.com/profile/0021ncumqpv51d1b" target="_blank"><img src="{{ asset('img/social/5.png') }}"></a>
    <a href="https://www.instagram.com/rdmeditions/" target="_blank"><img src="{{ asset('img/social/6.png') }}"></a>
</div>
<div class="row visible-xs text-nowrap" id="social_btn_xs">
    <img id="bande" src="{{ asset('img/bande.png') }}"><div id="link">
        <a id="fb" href="https://www.facebook.com/RDM.EDITIONS" target="_blank"><img
                    src="{{ asset('img/social/1.png') }}"></a>
        <a href="https://twitter.com/RhneAlpesPassio" target="_blank"><img src="{{ asset('img/social/2.png') }}"></a>
        <a href="https://www.linkedin.com/company/rdm-editions-rhone-alpes-passions-medias" target="_blank"><img
                    src="{{ asset('img/social/3.png') }}"></a>
        <a href="https://plus.google.com/+Rh%C3%B4neAlpesPassionsM%C3%A9dias" target="_blank"><img
                    src="{{ asset('img/social/4.png') }}"></a>
        <a href="http://www.viadeo.com/profile/0021ncumqpv51d1b" target="_blank"><img
                    src="{{ asset('img/social/5.png') }}"></a>
        <a href="https://www.instagram.com/rdmeditions/" target="_blank"><img src="{{ asset('img/social/6.png') }}"></a>
    </div>
</div>
<div id="content">
    {% block body %}{% endblock %}
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="footerDiv col-xs-12 col-md-4">
            <a href="{{ path('book_aboutUs') }}">Contact</a>
        </div>
        <div class="footerDiv col-md-offset-4 col-xs-12 col-md-4">
            <a href="{{ path('book_legalNotice') }}">Mentions Légales</a>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script src="{{ asset('js/bande.js') }}"></script>
<script src="{{ asset('js/navbarResize.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
