{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/aboutUs.css') }}">{% endblock %}


{% block body %}


    <section class="container">
        <article>
            <h1>Vous éditer</h1>

            <h3>Comment éditer son livre avec RDM éditions</h3>

            <p>Recourrez au savoir-faire de RDM Editions pour éditer votre livre, magazine ou mini-mag! Nous pouvons
                valoriser vos écrits dans le respect absolu de l'auteur que vous êtes.
                Vous pouvez également compter sur nous et notre réseau pour créer et vendre votre ouvrage.</p>

            <h3>Quel type de livre publions-nous ?</h3>
            <p>Livres avec ou sans illustrations
                Magazines et journaux</p>

            <h3>Comment nous envoyer un manuscrit ?</h3>
            <p>Vous voulez partager votre écrit ? Alors contactez-nous et envoyez-nous votre œuvre soit :<br>
                Par internet à cette <a href="mailto:contact@rdm-editions.com">adresse</a>.<br>
                Soit par courrier au 54, rue Paul Verlaine, 69100 Villeurbanne.</p>
        </article>
    </section>

    <div class="row" id="formap">
        <section class="container">
            <div class="col-md-6">
                <h3>Nous Contacter</h3>
                {{ form_start(form, {'method': 'POST'}) }}
                <div class="form-group">
                    {{ form_row(form.fMail, {label:'Votre adresse Email :', 'attr':{'class' : 'form-control required'}}) }}
                    <small id="emailHelp" class="form-text text-muted">Votre email ne sera jamais partagé</small>
                </div>
                <div class="form-group">
                    {{ form_row(form.fFirstname, {label:'Votre Prénom :', 'attr':{'class' : 'form-control required'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.fLastname, {label:'Votre Nom :', 'attr':{'class' : 'form-control required'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.fMessage, {label:'Votre Message :', 'attr':{'class' : 'form-control required'}}) }}
                </div>
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.recaptcha, {label:'Envoyer'}) }}
                    </div>
                    <div id="submit_btn" class="col-xs-12 col-sm-6">
                        {{ form_row(form.submit, {'attr':{'class' : 'btn-primary'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
            <div class="col-md-6">
                <h3>Nous trouver</h3>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.374287296213!2d4.878208950996246!3d45.76368872132811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c02ce2b975e9%3A0xf98e463b55152f61!2sRDM+Editions!5e0!3m2!1sfr!2sfr!4v1476287859316"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/googleMap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyBZCnQKrv6aoftqODRYF_5-yLsYg8jSWqw&callback=initMap"></script>
{% endblock %}

