{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
{% endblock %}
{% block body %}
    <div id="carousel">
        <div class="container-fluid">
            <div class="row">
                {% for book in carouselBooks %}
                    <div class="slide">
                        <div class="col-xs-5">
                            <div class="img-container">
                                <img src="{{ asset(covers_directory ~ book.imageUrl) }}" alt="{{ book.title }}">
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="title-container">
                                <p>{{ book.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}