{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Facebooklinkurl</th>
                <th>Imageurl</th>
                <th>Presstitle</th>
                <th>Pressimageurl</th>
                <th>Releasedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.facebookLinkUrl }}</td>
                <td>{{ book.imageUrl }}</td>
                <td>{{ book.pressTitle }}</td>
                <td>{{ book.pressImageUrl }}</td>
                <td>{% if book.releaseDate %}{{ book.releaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
