{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bookPage.css') }}">
{% endblock %}
{% block body %}

<section class="container bookPresentation">
    <div class="row">
        <div class="col-md-4">
            <div class="img-container">
                <img src="{{ asset(covers_directory ~ book.imageUrl) }}" data-toggle="modal" data-target="#coverModal">
                <!-- Modal book's cover-->
                <div class="modal fade" id="coverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ book.title }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ asset(covers_directory ~ book.imageUrl) }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p class="description">{{ book.description|raw }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <table class="info-container">
                <tr>
                    <th><span class="tag">Auteur</span></th>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <th><span class="tag">Parution</span></th>
                    <td>{{ book.releaseDate|date("Y", "Europe/Paris") }}</td>
                </tr>
            </table><br />
        </div>
        <div class="col-md-offset-4 col-md-4 button-facebook">
            <a href="{{ book.facebookLinkUrl }}" target="_blank">Page Facebook</a>
        </div>
    </div>
</section>
{% if pressArticles %}
<div class="container">
    <hr>
</div>
<section class="container pressSection">
    <h2 class="text-center">La presse en parle</h2>
    <div class="row">
        {% for pressArticle in pressArticles %}
        <div class="col-md-4">
            <div class="pressCard">
                <h3 class="text-center">{{ pressArticle.title }}</h3>
                <div class="pressImage">
                    <img src="{{ asset(pressArticle_directory ~ pressArticle.imageUrl) }}" alt="{{ pressArticle.imageUrl }}" data-toggle="modal" data-target="#pressModal">
                    <div class="modal fade" id="pressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ pressArticle.title }}</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ asset(pressArticle_directory ~ pressArticle.imageUrl) }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}